.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: slategrey;
}
.box{
	margin: 15px 0;
	min-height: 65px;
	background-color: orange;
	font-size: 35px;
	color: whitesmoke;
}
.box2{
	margin: 15px 0;
	min-height: 65px;
	background-color: floralwhite;
	font-size: 35px;
	color: blueviolet;
}
.red{
	background-color: blueviolet;
}
.five{
	background-color: black;
}